{% block content %}
<form action="/api/orders/" method="post">
    {% csrf_token %}
    <input type="text" name="id" placeholder="Order ID">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="district" placeholder="District">
    <input type="text" name="street" placeholder="Street">
    <input type="text" name="price" placeholder="Price">
    <input type="text" name="currency" placeholder="Currency">
    <button type="submit">Submit</button>
</form>
{% endblock %}